body {
    background-color: #EAF6F6;
}
hr {
    /** background-color: none;**/
    border-style: none;
    border-top-style: dotted;
    border-color: #66BFBF;
    border-width: 5px ;
    width: 30%;
}
img {
    height: 200px;
    width: 200px;
}
h1, h2, h3 {
    color: #66BFBF;
}
